In [1]:
import os
import pandas as pd

In [2]:
import pandas as pd

# File paths
ticket_price_file = '/Users/sannanijaz/Downloads/brazil_fares_final.csv'
inflation_file = '/Users/sannanijaz/Downloads/inflation.csv'
jet_fuel_file = '/Users/sannanijaz/Downloads/jet_fuel.xlsx'

# Load the dataframes
ticket_price_df = pd.read_csv(ticket_price_file)
inflation_df = pd.read_csv(inflation_file)
jet_fuel_df = pd.read_excel(jet_fuel_file)

# Display the first few rows of each dataframe to inspect the data
print(ticket_price_df.head())
print(inflation_df.head())
print(jet_fuel_df.head())

# Process ticket_price_df: Create a 'Date' column
ticket_price_df['Date'] = pd.to_datetime(ticket_price_df[['Year', 'Month']].astype(str).agg('-'.join, axis=1), format='%Y-%m')

# Process inflation_df: Ensure the 'Date' column is properly formatted
inflation_df['Date'] = pd.to_datetime(inflation_df[['Year', 'Month']].astype(str).agg('-'.join, axis=1), format='%Y-%m')

# Process jet_fuel_df: Create a 'Date' column
jet_fuel_df['Date'] = pd.to_datetime(jet_fuel_df[['Year', 'Month']].astype(str).agg('-'.join, axis=1), format='%Y-%m')

# Merge the dataframes on the 'Date' column
merged_df = pd.merge(ticket_price_df, inflation_df, on='Date', how='outer')
merged_df = pd.merge(merged_df, jet_fuel_df, on='Date', how='outer')

# Sort the data by 'Date'
merged_df = merged_df.sort_values('Date')

# Display the first few rows of the combined dataframe
print(merged_df.head())

   Year  Month Airline Departure Arrival  Price in BRL  Seats
0  2023      1     ABJ      SBSV    SIRI         650.0     17
1  2023      1     ABJ      SBSV    SIRI         850.0     23
2  2023      1     ABJ      SBSV    SIRI        1050.0      6
3  2023      1     ABJ      SBSV    SIRI        1250.0      1
4  2023      1     ABJ      SBSV    SNCL         450.0      1
    Year   Rate  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0   2021  10.1%         NaN         NaN         NaN         NaN         NaN
1   2022   5.8%         NaN         NaN         NaN         NaN         NaN
2  20223   4.6%         NaN         NaN         NaN         NaN         NaN
      Month  Price (R$)  Monthly Change (%)
0  Jan 2021        7.61               12.08
1  Feb 2021        8.67               13.93
2  Mar 2021        9.38                8.15
3  Apr 2021        9.28               -1.01
4  May 2021        9.28               -0.05

KeyError: "['Month'] not in index"

In [ ]:
# Replace NaN values with 0 in the dataframes
ticket_price_df.fillna(0, inplace=True)
inflation_df.fillna(0, inplace=True)
jet_fuel_df.fillna(0, inplace=True)

# Check the result by displaying the first few rows
print("Ticket Price DataFrame with NaN replaced:")
print(ticket_price_df.head())

print("\nInflation DataFrame with NaN replaced:")
print(inflation_df.head())

print("\nJet Fuel DataFrame with NaN replaced:")
print(jet_fuel_df.head())

In [ ]:

# Merge ticket_price_df with inflation_df on 'Year' (and 'Month' if necessary)
merged_df = pd.merge(ticket_price_df, inflation_df[['Year', 'Rate']], on='Year', how='left')

In [ ]:
# Merge with jet_fuel_df on 'Month', assuming jet_fuel_df has 'Month' as string (e.g., 'Jan')
# We'll need to ensure that 'Month' is in the same format (numeric or string) across DataFrames
merged_df['Month'] = merged_df['Month'].apply(lambda x: str(x).zfill(2))  # Make sure months are 2 digits (01, 02, etc.)

# Merge the DataFrame with jet_fuel_df
merged_df = pd.merge(merged_df, jet_fuel_df[['Month', 'Price (R$)']], on='Month', how='left')

# Check the result
print("Combined DataFrame:")
print(merged_df.head())

In [ ]:
# Replace NaN values with 0
merged_df.fillna(0, inplace=True)

# Final check of the DataFrame
print("Final Combined DataFrame with NaN replaced by 0:")
print(merged_df.head())

In [ ]:
merged_df.tail()

In [ ]:
!git branch