In [1]:
import os
import pandas as pd

In [3]:
import pandas as pd

# Step 1: Read the CSV files from the provided path
flight_df = pd.read_csv('/Users/sannanijaz/Downloads/brazil_fares_final.csv')
jet_fuel_df = pd.read_csv('/Users/sannanijaz/Downloads/jet_fuel.csv')
inflation_df = pd.read_csv('/Users/sannanijaz/Downloads/inflation.csv')

# Step 2: Ensure 'Year' and 'Month' columns are consistent and of correct data types
flight_df['Year'] = flight_df['Year'].astype(int)
flight_df['Month'] = flight_df['Month'].astype(int)

jet_fuel_df['Year'] = jet_fuel_df['Year'].astype(int)
jet_fuel_df['Month'] = jet_fuel_df['Month'].astype(int)

inflation_df['Year'] = inflation_df['Year'].astype(int)
inflation_df['Month'] = inflation_df['Month'].astype(int)

In [4]:
print(flight_df.head)

<bound method NDFrame.head of           Year  Month Airline Departure Arrival  Price in BRL  Seats
0         2023      1     ABJ      SBSV    SIRI         650.0     17
1         2023      1     ABJ      SBSV    SIRI         850.0     23
2         2023      1     ABJ      SBSV    SIRI        1050.0      6
3         2023      1     ABJ      SBSV    SIRI        1250.0      1
4         2023      1     ABJ      SBSV    SNCL         450.0      1
...        ...    ...     ...       ...     ...           ...    ...
12268537  2021     11     TAM      SBVT    SBUL         742.0      3
12268538  2021     11     TAM      SBVT    SBUL         925.0      2
12268539  2021     11     TAM      SBVT    SBUL        1040.0      2
12268540  2021     11     TAM      SBVT    SBUL        1512.0      1
12268541  2021     11     TAM      SBVT    SBUL        1623.0      1

[12268542 rows x 7 columns]>

In [5]:
print(jet_fuel_df.head)

<bound method NDFrame.head of     Year  Month  Price (R$)  Monthly Change (%)  Unnamed: 4  Unnamed: 5
0   2021      1        7.61               12.08         NaN         NaN
1   2021      2        8.67               13.93         NaN         NaN
2   2021      3        9.38                8.15         NaN         NaN
3   2021      4        9.28               -1.01         NaN         NaN
4   2021      5        9.28               -0.05         NaN         NaN
5   2021      6        9.33                0.60         NaN         NaN
6   2021      7        9.75                4.45         NaN         NaN
7   2021      8        9.54               -2.14         NaN         NaN
8   2021      9       10.62               11.34         NaN         NaN
9   2021     10       12.72               19.76         NaN         NaN
10  2021     11       12.18               -4.26         NaN         NaN
11  2021     12       11.85               -2.72         NaN         NaN
12  2022      1       13.55               14.38         NaN         NaN
13  2022      2       13.95                2.94         NaN         NaN
14  2022      3       17.46               25.17         NaN         NaN
15  2022      4       18.64                6.78         NaN         NaN
16  2022      5       19.47                4.41         NaN         NaN
17  2022      6       20.73                6.48         NaN         NaN
18  2022      7       18.67               -9.91         NaN         NaN
19  2022      8       17.17               -8.04         NaN         NaN
20  2022      9       17.06               -0.63         NaN         NaN
21  2022     10       19.51               14.35         NaN         NaN
22  2022     11       16.65              -14.69         NaN         NaN
23  2022     12       15.19               -8.74         NaN         NaN
24  2023      1       18.43               21.30         NaN         NaN
25  2023      2       14.43              -21.71         NaN         NaN
26  2023      3       13.98               -3.10         NaN         NaN
27  2023      4       11.92              -14.77         NaN         NaN
28  2023      5       10.81               -9.25         NaN         NaN
29  2023      6       10.92                0.98         NaN         NaN
30  2023      7       11.94                9.40         NaN         NaN
31  2023      8       14.65               22.70         NaN         NaN
32  2023      9       15.42                5.21         NaN         NaN
33  2023     10       14.58               -5.47         NaN         NaN
34  2023     11       13.39               -8.11         NaN         NaN
35  2023     12       11.72              -12.46         NaN         NaN>

In [6]:
print(inflation_df.head)

<bound method NDFrame.head of     Year  Month   Rate  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0   2021      1  10.1%         NaN         NaN         NaN         NaN
1   2021      2  10.1%         NaN         NaN         NaN         NaN
2   2021      3  10.1%         NaN         NaN         NaN         NaN
3   2021      4  10.1%         NaN         NaN         NaN         NaN
4   2021      5  10.1%         NaN         NaN         NaN         NaN
5   2021      6  10.1%         NaN         NaN         NaN         NaN
6   2021      7  10.1%         NaN         NaN         NaN         NaN
7   2021      8  10.1%         NaN         NaN         NaN         NaN
8   2021      9  10.1%         NaN         NaN         NaN         NaN
9   2021     10  10.1%         NaN         NaN         NaN         NaN
10  2021     11  10.1%         NaN         NaN         NaN         NaN
11  2021     12  10.1%         NaN         NaN         NaN         NaN
12  2022      1   5.8%         NaN         NaN         NaN         NaN
13  2022      2   5.8%         NaN         NaN         NaN         NaN
14  2022      3   5.8%         NaN         NaN         NaN         NaN
15  2022      4   5.8%         NaN         NaN         NaN         NaN
16  2022      5   5.8%         NaN         NaN         NaN         NaN
17  2022      6   5.8%         NaN         NaN         NaN         NaN
18  2022      7   5.8%         NaN         NaN         NaN         NaN
19  2022      8   5.8%         NaN         NaN         NaN         NaN
20  2022      9   5.8%         NaN         NaN         NaN         NaN
21  2022     10   5.8%         NaN         NaN         NaN         NaN
22  2022     11   5.8%         NaN         NaN         NaN         NaN
23  2022     12   5.8%         NaN         NaN         NaN         NaN
24  2023      1   4.6%         NaN         NaN         NaN         NaN
25  2023      2   4.6%         NaN         NaN         NaN         NaN
26  2023      3   4.6%         NaN         NaN         NaN         NaN
27  2023      4   4.6%         NaN         NaN         NaN         NaN
28  2023      5   4.6%         NaN         NaN         NaN         NaN
29  2023      6   4.6%         NaN         NaN         NaN         NaN
30  2023      7   4.6%         NaN         NaN         NaN         NaN
31  2023      8   4.6%         NaN         NaN         NaN         NaN
32  2023      9   4.6%         NaN         NaN         NaN         NaN
33  2023     10   4.6%         NaN         NaN         NaN         NaN
34  2023     11   4.6%         NaN         NaN         NaN         NaN
35  2023     12   4.6%         NaN         NaN         NaN         NaN>

In [7]:
# Step 1: Merge the flight_df with jet_fuel_df based on 'Year' and 'Month'
merged_df = pd.merge(flight_df, jet_fuel_df[['Year', 'Month', 'Price (R$)']], on=['Year', 'Month'], how='left')

# Step 2: Rename the column for clarity
merged_df.rename(columns={'Price (R$)': 'Jet Fuel Price (R$)'}, inplace=True)

# Step 3: Display the first few rows of the merged dataframe to check
print(merged_df.head())

   Year  Month Airline Departure Arrival  Price in BRL  Seats  \
0  2023      1     ABJ      SBSV    SIRI         650.0     17
1  2023      1     ABJ      SBSV    SIRI         850.0     23
2  2023      1     ABJ      SBSV    SIRI        1050.0      6
3  2023      1     ABJ      SBSV    SIRI        1250.0      1
4  2023      1     ABJ      SBSV    SNCL         450.0      1

   Jet Fuel Price (R$)
0                18.43
1                18.43
2                18.43
3                18.43
4                18.43

In [8]:
# Step 1: Merge the merged_df with inflation_df based on 'Year' and 'Month'
final_df = pd.merge(merged_df, inflation_df[['Year', 'Month', 'Rate']], on=['Year', 'Month'], how='left')

# Step 2: Rename the column for clarity
final_df.rename(columns={'Rate': 'Inflation Rate (%)'}, inplace=True)

# Step 3: Display the first few rows of the final dataframe to check
print(final_df.head())

   Year  Month Airline Departure Arrival  Price in BRL  Seats  \
0  2023      1     ABJ      SBSV    SIRI         650.0     17
1  2023      1     ABJ      SBSV    SIRI         850.0     23
2  2023      1     ABJ      SBSV    SIRI        1050.0      6
3  2023      1     ABJ      SBSV    SIRI        1250.0      1
4  2023      1     ABJ      SBSV    SNCL         450.0      1

   Jet Fuel Price (R$) Inflation Rate (%)
0                18.43               4.6%
1                18.43               4.6%
2                18.43               4.6%
3                18.43               4.6%
4                18.43               4.6%

In [9]:
final_df.to_csv('final_dataframe.csv', index=False)

In [10]:
import os
print(os.getcwd())

/Users/sannanijaz/code/sannan-ijaz123/skyai/notebooks

In [11]:
final_df.to_csv('/Users/sannanijaz/Downloads/final_dataframe.csv', index=False)

In [12]:
!git branch

  conc
* main

In [18]:
!git checkout conc

Switched to branch 'conc'
Your branch is up to date with 'origin/conc'.

In [15]:
!git add .
!git commit -m "Your commit message"

[main f6f1c15] Your commit message
 1 file changed, 18 insertions(+), 8 deletions(-)

In [16]:
!git push origin conc

Everything up-to-date

In [17]:
!git checkout main
!git push origin main

Already on 'main'
Your branch is ahead of 'origin/main' by 2 commits.
  (use "git push" to publish your local commits)
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (9/9), done.
Writing objects: 100% (9/9), 52.32 MiB | 929.00 KiB/s, done.
Total 9 (delta 4), reused 0 (delta 0), pack-reused 0 (from 0)
remote: Resolving deltas: 100% (4/4), completed with 1 local object.
remote: error: Trace: f3aba68aa78560a3d4c17bb882f76ef6f0057705406e7576799138cb5d47fbb5
remote: error: See https://gh.io/lfs for more information.
remote: error: File notebooks/final_dataframe.csv is 481.22 MB; this exceeds GitHub's file size limit of 100.00 MB
remote: error: GH001: Large files detected. You may want to try Git Large File Storage - https://git-lfs.github.com.
To github.com:astridw94/skyai.git
 ! [remote rejected] main -> main (pre-receive hook declined)
error: failed to push some refs to 'github.com:astridw94/skyai.git'